.game-field {
  background-color: orange;
  min-height: 12vh;
  max-width: 12vh;
  margin: 1px 1px 1px 1px;
  line-height: 12vh;
}

.target {
  background-color: green;
  color: white;
  font-size: 24pt;
  text-align: center;
}

.miss {
  background-color: red;
}
